<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956308555162-vqnj2e5lpfjletb53trrqfhmd5csnd7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956308555162-vqnj2e5lpfjletb53trrqfhmd5csnd7s</string>
	<key>API_KEY</key>
	<string>AIzaSyDIDKJn2lpPzTlwSeu4Y-TCB4W5aZo6kD8</string>
	<key>GCM_SENDER_ID</key>
	<string>956308555162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Mac.ToDo</string>
	<key>PROJECT_ID</key>
	<string>todo-9786c</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-9786c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956308555162:ios:467520e11c3bf461cae623</string>
</dict>
</plist>